<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="praveen.hawabaaz" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".CartActivity"
            android:label="CartActivity" >
        </activity>
        <activity
            android:name=".Locations"
            android:label="Locations" >
        </activity>
        <activity
            android:name=".RecipieDetails"
            android:label="RecipieDetails" >
        </activity>
        <activity
            android:name=".Recipies"
            android:label="Recipies" >
        </activity>
        <activity
            android:name=".AddressActivity"
            android:label="@string/title_activity_address" >
        </activity>
        <activity
            android:name=".CartTemp"
            android:label="@string/title_activity_cart_temp" >
        </activity>
    </application>

</manifest>
